.App {
    position: relative;
}

.form {
    width: 521px;
    margin: 15px auto;
    padding: 20px 0;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.myInput {
    width: 73%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid teal;
  }
  .myBtn{
    font-size: 16px;
    font-weight: 600;
    padding: 6px 161px;
    background-color: teal;
    cursor: pointer;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    color: #fff;
  } 
   